    <%-include('../partials/header.ejs')%>
    <%-include('../partials/footer.ejs')%>

    <h1>"Edit the product form"</h1>

    <form action="/products/<%=foundProduct._id%>?_method=PATCH" method="POST">
        <div>
            <label for="naam">Name</label>
            <input type="text" name="name" id="naam" value="<%=foundProduct.name%>">
        </div>

        <div>
            <label for="pic">Image</label>
            <input type="text" name="img" id="pic" value="<%=foundProduct.img%>">
        </div>

        <div>
            <label for="daam">Price</label>
            <input type="text" name="price" id="daam" value="<%=foundProduct.price%>">
        </div>

        <div>
            <label for="des">Description</label>
           <textarea name="desc" id="des" rows="3" ><%=foundProduct.desc%></textarea>
        </div>
        <button>Add product</button>
    </form>
   
    <%-include('../partials/footer.ejs')%>
