<%-include('../partials/header.ejs')%>
<%-include('../partials/navbar.ejs')%>


  <div class="row mt-2  ">
    <div class="col-lg-6 product-card mt-5 border bg-secondary  text-white ">
        <div class="card" style="width: 22rem;">
            <img class="card-img-top" src="<%=foundProduct.img%>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%=foundProduct.name%></h5>
              <h3 class="card-title"><%=foundProduct.price%></h3>
              <p class="card-text"><%=foundProduct.desc%></p>
              <a href="#" class="btn btn-primary">Buy</a>
              <a href="#" class="btn btn-primary">Add to Cart</a>
              <a href="/products/<%=foundProduct._id%>/edit" class="btn btn-primary">Edit</a>
              <form class="d-inline-block" action="/products/<%=foundProduct._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-sm">Delete</button>
             </form>
              
            </div>
          </div>
    </div>
        
      
         <div class="col-lg-4 mt-5 border bg-secondary  text-white">
            <h2 class="display-5">Leave your review</h2>
            <form action="/products/<%=foundProduct._id%>/rating" method="POST">
                <div class="mb-3 ">
                    
                <fieldset class="starability-basic">
                    <legend>First rating:</legend>
                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="rating" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="rating" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="rating" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="rating" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="rating" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                </div>
                <div class="mb-3">
                   <label for="textt">Rating</label>
                   <textarea name="comment" id="textt" rows="3"></textarea>
                </div>
                <button>ADD REVIEW</button>
            </form>
            <div class="my-3 ">
                <% for(let review of foundProduct.reviews) { %>
                   <h5>Rating:</h5>
                   <p class="starability-result" data-rating='<%=review.rating%>'>
                    Rated: <%=review.rating%> stars
                   </p>
                    <p><%=review.comment%></p>
                    <% if(review.createdAt) { %>
                        <p>Time:<%=review.createdAt.toDateString()%></p>
                   <% } %>
                    
               <% } %>
            </div>
    
        </div>
    
       
        </div>
    
  </div>
<%-include('../partials/footer.ejs')%>

